
Server/Server/Server.vcxproj.user
Server/Server/Server.vcxproj.filters
Server/Server/Server.vcxproj
Server/Server.sln
Server/.vs/Server/v16/ipch/AutoPCH/9f20a1f16e602554/SERVER.ipch
Server/.vs/Server/v16/Browse.VC.opendb
Server/.vs/Server/v16/Browse.VC.db-wal
Server/.vs/Server/v16/Browse.VC.db-shm
Server/.vs/Server/v16/Browse.VC.db
